@import "normalize";
@import "colors";


body, html {
	font-family: 'Segoe UI', Arial, sans-serif ;
	background-color: $emerland;
}

// List Reset
@mixin ulReset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

// a Reset
@mixin aReset {
	text-decoration: none;
	color: $white;
}


body {
	font-family: 'Segoe UI', sans-serif ;
	color: $white;
}


nav#navbar {
	position: fixed;
	top: 0px;
	width: 50px;
	height: 100%;
	overflow: hidden;
	transition-property: width;
	transition-duration: 250ms;
	background-color: $midnight;
	z-index: 2;
	overflow-y: auto;

	> button {
		width: 50px;
		height: 50px;
		border: none;
		outline: none;
		padding: 5px;
		background-size: 40px;
		background-position: center;
		background-repeat: no-repeat;
		background-color: transparent;
		&#navBtn {
			background-image: url('../images/menu.svg');
		}
		&#settingsBtn {
			position: absolute;
			left: 190px;
			background-image: url('../images/settings.svg');
			transition-property: left;
			transition-duration: 250ms;
		}
	}

	> ul {
		@include ulReset;
		width: 100%;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		> li {
			width: 300px;
			background-color: transparent;
			border-width: 0;
			transition-property: background-color, border-width;
			transition-duration: 500ms;
			> a {
				@include aReset;
				display: block;
				> img {
					float: left;
					width: 30px;
					height: 30px;
					margin: 10px;
				}
				> h3 {
					float: left;
					margin: 0 20px 0;
					line-height: 50px;
					text-transform: uppercase;
				}
				&:after {
					content: "";
					display: block;
					clear: both;
				}
			}
			&.active {
				background-color: rgba(255,255,255,0.2);
				border-left: 5px solid rgba(255,255,255,0.5);
				> a > img {
					margin-left: 5px;
				}
			}
		}
	}

	&.active {
		width: 240px;
		&.settings {
			width: 300px;
			#settingsBtn {
				left: 250px;
			}
		}
	}
}

main#main {
	margin-left: 50px;
	padding: 10px;
	> section {
		margin-bottom: 80px;
		> header {
			> img {
				float: left;
				width: 60px;
				height: 60px;
			}
			> h1 {
				float: left;
				line-height: 60px;
				text-transform: uppercase;
				margin: 0 40px 0;
			}
			&:after {
				content: "";
				display: block;
				clear: both;
			}
		}
	}
}