@import "normalize";
@import "colors";


// Pseudo Classes
@mixin fullsize {
	width: 100%;
	height: 100%;
}

@mixin tilesP {
	height: 33%;
	width: 50%;
}

@mixin tilesL {
	height: 50%;
	width: 33.33%;
}

body, html {
	font-family: 'Segoe UI', Arial, sans-serif ;
	@include fullsize;
	background-color: $midnight;
}

/* Grid For Tiles */
#grid {
	height: 90%;
	width: 100%;
  padding: 0;

	&.detail {
		@media screen and (orientation:portrait){
			height: 40%;
			.tile {
				@include tilesL;
			}
		}

		@media screen and (orientation:landscape){
			width: 40%;
			float: left;
			.tile {
				@include tilesP;
			}
		}

		.tile {
			img {
				height: 100%;
				margin: auto;
			}
			figcaption {
				display: none;
			}
		}
	}

}

/* Tiles List View*/
.tile {
  padding: 10px;
  float: left;
  clear: none;
  box-sizing: border-box;
  overflow: hidden;

	@media screen and (orientation:portrait){
		@include tilesP;
	}

	@media screen and (orientation:landscape){
		@include tilesL;
	}

	&.active {
		background-color: $pumpkin;
	}

	figure {
		@include fullsize;
		padding: 20px;
		margin: 0;
		box-sizing: border-box;
		background-color: $clouds;

		img, object {
			display: block;
		}

		figcaption {
			* {
				display: none;
			}
			h1 {
				display: block;
				font-size: 2em;
			}
		}
	}

}

#detail {
	display: none;
	box-sizing: border-box;
	padding: 10px;
	position: relative;

	> div {
		@include fullsize;
		background-color: $clouds;
		box-sizing: border-box;
		padding: 20px;

		h1{
			font-size: 3em;
			margin: 0;
			line-height: 1em
		}

		ul {
			-webkit-columns: 2;
			-moz-columns: 2;
			columns: 2;
			padding: 0;
			li {
				font-size: 1.5em;
				font-weight: bold;
				line-height: 1.5;
				&:before {
					content: '';
					display: inline-block;
					height: 5px;
					width: 5px;
					background: black;
					margin: 5px 10px 5px 5px;
					border-radius: 5px;
				}
			}
		}

	}

	@media screen and (orientation:portrait){
		width: 100%;
		height: 50%;
	}

	@media screen and (orientation:landscape){
		width: 60%;
		height: 90%;
		float: left;
	}

	&.active {
		display: block;
	}

	#clsBtn {
		position: absolute;
		right: 20px;
		top: 20px;
		width: 40px;
		height: 40px;
		border: none;
		padding: 5px;
		background-color: transparent;

		> img {
			@include fullsize;
		}
	}

}

#header {
	height: 10%;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	background: $emerland;
	position: relative;

	h1 {
		margin: 0;
		margin-right: 20px;
		float: left;
	}

}


.temp-low > figure {
	background-color: $river;
}
.temp-good > figure {
	background-color: $emerland;
}
.temp-warm > figure {
	background-color: $orange;
}
.temp-hot > figure {
	background-color: $pomegranate;
}

// Loudness && Stresslvevel Classes
.loudness-low, .stresslevel-1, .airquality-1 {
	> figure {
		background-color: $emerland;
	}
}
.loudness-medium, .stresslevel-2, .airquality-2 {
	> figure {
		background-color: $sunflower;
	}
}
.loudness-heigh, .stresslevel-3, .airquality-3 {
	> figure {
		background-color: $pomegranate;
	}
}